
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

section {
  max-width: 1110px;
  margin: 0 auto;
  height: 100%;
}

/* header */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 103px;
  padding: 0px 59px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}

.logo h1 {
  margin-left:9px;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
}

menu {
  display: flex;
  flex-wrap: wrap;
  min-height: 44px;
}

menu a {
  text-decoration: none;
  margin: 10px 68px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}


.brif {
  background: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%), #C4C4C4;
  color:#ffffff;
  padding: 3px 20px;
  border-radius: 3px;
  box-shadow: 0px 10px 15px rgba(46, 124, 235, 0.15);
  border: transparent;
}


.brif img {
  margin-left: 16px;
}

.karusel {
  background: url(./img/carusel11.jpg) no-repeat center center;
  background-size:cover;
  min-height: 100px;
}

.karuselblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.leftside {
  min-width: 50%;
  display: block;
}


.leftside h2 {
  font-size: 52px;
  max-width: 440px;
  margin: 245px 0px 94px 0px;
}

.navblock {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.navblock img {
  margin-left: 37px;
  align-items: top;
  margin-top: 10px;
}

.arrownav {
  margin-left: 37px;
  margin-top: 10px;
}

.rightside {
  min-width: 50%;
  display: block;
}

.rightside p {
  max-width: 430px;
  min-height: 181px;
  margin: 265px 0px 75px 0px;
}

.fbrif {
  background: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%), #C4C4C4;
  color:#ffffff;
  padding: 16px 36px;
  border: transparent;
  border-radius: 3px;
  box-shadow: 0px 10px 15px rgba(46, 124, 235, 0.15);
  text-decoration: none;
}

.fbrif img {
  margin-left: 28px;
}


.mouse {
  margin-top: 281px;
}

.mouse img {
  margin-left: -20px;
}

/* header end */

/* about */

.aboutblock {
  color: #333333;
  min-height: 655px;
}

.aboutblock h3 {
  margin: 93px 0px 24px 0px;
  font-weight: 900;
  font-size: 45px;
}

.aboutblock p {
  max-width: 805px;
  min-height: 120px;
  font-size: 18px;
}

.statsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 65px;
}

.statitem {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

.statcircle {
  background-image: url(./img/surcal.svg);
  background-repeat: no-repeat;
  background-size:contain;
  display: flex;
  justify-content:center;
  align-items:center;
  width: 128px;
  height: 128px;
}

.statcircle:hover span{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.statcircle span {
  font-size: 35px;
  font-weight: 600;
}

.stattext {
  width: 220px;
  height: 128px;
  display: flex;
  justify-content: center;
}

.stattext span {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  margin-top: 45px;
}

.wtbtn {
  border-radius: 3px;
  box-shadow: 0px 10px 15px rgba(46, 124, 235, 0.15);
  border: 1.3px solid #005DE8;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: #005DE8;
  width: 239px;
  height: 54px;
  background-color: transparent;
  margin-bottom: 25px;
}

.wtbtn img{
  margin-left: 88px;
}

/* about end */

/* crpt */

.appblock {
  background-image: url(./img/crptddd.png);
  background-repeat: no-repeat;
  background-size:cover;
  height: 464px;
  color:#ffffff;
}

.crpt {
  padding-top: 120px;
  box-sizing: border-box;
}

.crpt h3 {
  font-weight: 700;
  font-size: 36px;
}

.crpt p {
  font-size: 18px;
  min-height: 58px;
  line-height: 34px;
  margin-bottom: 27px;
}

.crpt a {
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0px 10px 15px rgba(46, 124, 235, 0.15);
  border: 1.3px solid #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color:#ffffff;
}

.crpt a img {
  margin-left: 62px;
}

/* crpt end */

/* direction */

.directblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 94px;
}

.direct {
  padding-top: 96px;
  color:#333333;
  height: 100%;
}

.direct h3 {
  font-weight: 900;
  font-size: 45px;
}

.direct p {
  font-size: 18px;
  line-height: 34px;
  min-height: 121px;
}

.diritem {
  width: 238px;
  height: 238px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  transition: 1s;
}

.diritem:hover {
  background: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%);
  box-shadow: 0px 10px 30px
}

.diritem img{
  display: block;
  margin: 56px auto 40px;
}

.diritem h5 {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

/* direction end */

/* last project */

.lastpro {
  min-height: 791px;
}

.lastpro h3 {
  font-weight: 900;
  font-size: 45px;
  color: #333333;
}
.lastproblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.lastproitem {
  width: 328px;
  height: 502px;
  align-items:center;
  color:#ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.lastproitem h5 {
  margin-top: 98px;
  text-align: center;
}

.lastproitem img {
  display: block;
  margin: 0 auto;
  margin-top: 72px;
}

.ikraimg .lastproitemtext {
  width: 176px;
  margin: 35px auto;
}

.longarrowlp {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: #005DE8;
}

.longarrowlp img {
  margin-left: 20px;
}


/* last project end */

/* clients */

.clt {
  padding-top: 87px;
  min-height: 509px;
}

.clt h3{
  font-weight: 900;
  font-size: 45px;
  line-height: 74px;
  color:#ffffff;
  margin-bottom: 58px;
}

/* clients end */

/* technology */

.tech {
  color:#333333;
}

.tech h3 {
  font-weight: 900;
  font-size: 45px;
  line-height: 74px;
}

.tech p {
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 40px;
}

.techitems {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 113px;
}

.techitem {
  box-sizing:border-box;
  width: 200px;
  height: 201px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ffffff;
  transition: 0.7s;
}

.techitem:hover {
  border: 1px solid #E0E0E0;
  box-shadow: 5px 5px 30px rgba(238, 22, 7, 0.3);
}

.techitem img {
  display: block;
  margin: 29px auto;
}

.techitem h5{
  text-align: center;
}

.techitem p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}
/* technology end */




.ikraimg {
  background-image: url(./img/ikra.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.goaimg {
  background-image: url(./img/Goaimg.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mobimg {
  background-image: url(./img/webandmob.png);
  background-repeat: no-repeat;
  background-size: contain;
}


.cliets {
  background-color: #1B1B1B;
}



/* footer */
footer {
  min-height: 390px;
  background-color: #333333;
  padding-top: 70px;
}

.upperfooter {
  min-height: 240px;
  display: flex;
  flex-wrap: wrap;
}

.footeritem {
  min-width: 277px;
  color: #ffffff;
}

.footeritem ul {
  list-style: none;
}

.footeritem ul li {
  margin: 10px;
}

.footeritem ul li a{
  color: #ffffff;
  text-decoration: none;
}

.footeritem p {
  font-size: 14px;
  width: 262px;
  margin-top: 39px;
}

address a {
  color: #ffffff;
  text-decoration: none;
}

address h5 {
  margin-bottom: 5px;
}

address h5 span {
  font-weight: 600;
  font-size: 18px;
  margin-left: 9px;
}

address p {
  margin-top: 5px;
}



.lowerfooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 76px;
}

.lowerfooter span {
  color:#ffffff;
  font-size: 14px;
  font-weight: 400;
}

.socialblock a img {
  margin-left: 22px;
}


/* footer end */


/* adaptive */

@media (max-width: 410px) {
 
  header {
    width: 100%;
    font-size: 32px;
    padding: 0px 5px;
  }

  section {
    width:100%
  }

  .logo  {
    flex-direction: column;
    margin: 0 auto;
  }

  menu {
    flex-direction: column;
  }

  menu a {
    justify-content: center;
  }

}

/* adaptive end */