
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

section {
  max-width: 1110px;
  margin: 0 auto;
  border: 1px solid red;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 103px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  margin-left: 59px;
  align-items:center;
}

.logo h1 {
  margin-left:9px;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
}

menu {
  display: flex;
  height: 44px;
}

menu a {
  text-decoration: none;
  margin-right: 68px;
  display: flex;
  align-items:center;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}

.brif {
  background: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%), #C4C4C4;
  color:#ffffff;
  padding: 3px 20px;
  border-radius: 3px;
  box-shadow: 0px 10px 15px rgba(46, 124, 235, 0.15);
}

.brif img {
  margin-left: 16px;
}

.karusel {
  background-image: url(./img/carusel1.png);
  background-repeat: no-repeat;
  background-size:contain;
}

.karuselblock {
  height: 980px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.leftside {
  width: 50%;
  display: block;
}


.leftside h2 {
  font-size: 52px;
  width: 440px;
  margin: 245px 0px 94px 0px;
}

.rightside {
  width: 50%;
  display: block;
}

.rightside p {
  width: 430px;
  height: 181px;
  margin: 265px 0px 85px 0px;
}

.mouse {

}

/* about */

.statsection {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.statitem {
  background-image: url(./img/surcal.svg);
  background-repeat: no-repeat;
  background-size:contain;
  display: flex;
  justify-content:center;
  align-items:center;
  width:128px;
  height: 128px;
}

.statitem span {
  font-size: 35px;
  font-weight: 600;
}

.stattext {
  font-size: 16px;
  font-weight: 800;
  display: flex;
  align-items:center;
}


/* crpt */

.appblock {
  background-image: url(./img/crptddd.png);
  background-repeat: no-repeat;
  background-size:cover;
  height: 464px;
  color:#ffffff;
}

/* crpt end */

/* direction */

.directblock {
  display: flex;
  flex-wrap: wrap;

}

.diritem {
  width: 25%;

}

.diritem img {
  color:aqua;
  background-color:rgba(46, 124, 235, 0.15);
}

/* direction end */

/* last project */
.lastproblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lastproitem {
  width: 328px;
  height: 502px;
  align-items:center;
  color:#ffffff;
  border-radius: 5px;
}

.lastproitem h5 {
  margin-top: 98px;
  text-align: center;
}

.lastproitem img {
  display: block;
  margin: 0 auto;
  margin-top: 72px;
}

.ikraimg .lastproitemtext {
  width: 176px;
  margin: 35px auto;
}





/* last project end */

/* technology */

.techitems {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.techitem {
  width: 200px;
  height: 201px;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}


/* technology end */

/* about end */


.ikraimg {
  background-image: url(./img/ikra.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.goaimg {
  background-image: url(./img/Goaimg.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mobimg {
  background-image: url(./img/webandmob.png);
  background-repeat: no-repeat;
  background-size: contain;
}


.cliets {
  background-color: #1B1B1B;
}



/* footer */
footer {
  height: 390px;
  background-color: #333333;
  padding-top: 70px;
}

.upperfooter {
  height: 240px;
  display: flex;
}

.footeritem {
  width: 400px;
}

.footeritem p {
  color:#ffffff;
  font-size: 14px;
  width: 262px;
  margin-top: 39px;
}

.fbrif {
  background: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%), #C4C4C4;
  color:#ffffff;
  padding: 16px 36px;
  border-radius: 3px;
  box-shadow: 0px 10px 15px rgba(46, 124, 235, 0.15);
  text-decoration: none;
}

.fbrif img {
  margin-left: 28px;
}


.lowerfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

.lowerfooter span {
  color:#ffffff;
  font-size: 14px;
  font-weight: 400;
}

.socialblock a img {
  margin-left: 22px;
}


/* footer end */


/* adaptive */

@media all and (max-width: 480px) {
  
section {
  max-width: 480px;
  margin: 0 auto;

}

}

/* adaptive end */